.editBtn
{
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.editBtnShow
{
    opacity: 1;
}

.editIcon
{
    width: 25px;
    height: 25px;
}

.crossIcon
{
    color: inherit;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
}

.formContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
}

.formContainer button
{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.textarea
{
    box-sizing: border-box;
    width: 100% !important;
    resize: vertical;
    min-height: 50px;
    outline: none;
}

.submitBtn
{
    background-color: #4CAF50;
    color: white;
    border: none;
}